:root {
    --primary: #e99401;
    --negro: #262626;
    --blanco: #FFF;
    --fuente-principal: 'Outfit', sans-serif;
  }
  html {
    box-sizing: border-box;
    background: white;
  }
  *, *:before, *:after {
    box-sizing: inherit;
  }
  h1, p{
    text-align: center;
    color: black;
  }

  body {
    font-size: 2rem;
    font-family: var(--fuente-principal);
    line-height: 1.5;
  }
  
  [class*="container"] {
    max-width: 120rem;
    margin: 0 auto;
    width: 87%;
  }
  
  [class*="container"] a{
    text-decoration: none;
    color: var(--negro);
  }
  
  [class*="heading"] {
    font-size: 4rem;
    text-align: center;
    font-weight: 900;
    color: var(--primary);
    margin: 5rem 0;
  }
  
  nav{
    justify-content: space-around;
  }


  [role=link], a:hover {
    color:rgb(76, 76, 228);
    background: hsl(195deg 82.31% 83.03%);
    text-decoration: none;
  }
  *, ::after, ::before {
    color: black;
}
  strong{
    color: #262626;
  }

  th, td{
    color:black;
  }

  td{
    padding: 0px;
  }


  .divH1_form{
    margin: 20px;
}



.tdBttn{
display: grid;
grid-auto-flow: column;
grid-gap: 5px;
}

