.divH1 h1{
    margin:2px;
}

.divH1 a{
    margin: 6px !important;
    padding: 5px;
}
.divH1 a:hover{
    border-radius: 5px;
}

.divAction{
    justify-content: space-between;
}

.divAction a{
    font-size: 20px;
    border-radius: 3px;
    padding: 4px;
}



.divI{
    display: grid;
    width: 100%;
    justify-items: center;    
    gap: 8px;
    grid-auto-flow: column;
}

.dInput{
    width: 60%!important ;
}
.divI input, .divI label, .divI button{
    margin: 0 auto;
}

