.divH1 h1{
    margin:2px;
}

.tdBtton{
    padding:0px 5px;
    border:none;
}
.tdBtton button{
    border: 0px;
    margin: 0 auto;
    background: padding-box;
    padding: 0px!important;
}

.tdBtton button:hover{
    background: hsl(195deg 82.31% 83.03%);
}



.tdBtton a{
    border-radius: 6px;
    text-align: center;
}

.secondary{
        border: var(--border-width) solid black;
        background-color: #ff5e5e;
}

.divform {
    display: grid;
    width: 100%;
    justify-items: center;
    grid-gap: 8px;
    gap: 8px;
    grid-auto-flow: column;
}