.fieldSet{
    display: grid;
    width: 100%;
    gap: 8px;
    grid-auto-flow: column;
}
.fieldSet input{
    margin: 0px !important;
    width: 100%;
}

.divAgregar{
width: 100%;
text-align: center;
}

.divAgregar input{
    margin-top: 30px;
    width: 30%;
    }